@model Fiap.Hollistic.Web.Model.Paciente

@{
    ViewData["Title"] = "Cadastro de Aluno";
}

<h1>Cadastro de Paciente</h1>

<mensagem mensagem="@TempData["msg"]"></mensagem>

<form asp-action="cadastrar">

    <partial name="_Formulario" />

    <input type="submit" value="Cadastrar" class="btn btn-primary" />

</form>